<div class= "jumbotron center">
	<h1>Welcome to my app!</h1>
	<% if user_signed_in? %>
		# do something
	<% else %>

	<p>
		Click here to sign up 
		<%= link_to "Sign up", new_user_registration_path, class: "btn btn-success btn-lg btn-block active" %>
		<%= link_to "Log in", new_user_session_path, class: "btn btn-default btn-md btn-block" %>
	</p>
	<% end %>

</div>

