<h1>This is a page about Jorge L. Rodriguez</h1>
<p>Jorge Rodriguez is a student taking a programming class in 
Code the Dream. Until a few months ago he never tought he would be able to code. Now he likes to learn and discover everything coding (Ruby) has to offer. </P>